<h1>Sign Up</h1>

<form class="" action="<%=users_url%>" method="post">
  <%= render 'form', user: @user %>

  <label for="">Email 
    <input type="email" name="user[email]" value="">
  </label>
  
  <input type="submit" name="" value="Sign Up">
</form>
