<%= auth_token %>
<label> Title <br>
  <input type="text" name="sub[title]" value="<%= sub.title %>">
</label>
<br>
<label> Description <br>
  <textarea name="sub[description]" rows="8" cols="80"><%= sub.description %></textarea>
</label>
