<h1>Create a sub</h1>

<form class="" action="<%= subs_url %>" method="post">
  <%= render "form", sub: @sub %>
  <input type="submit" value="Add Sub">
</form>

<a href="<%= subs_url %>">Back to Index</a>